h1 {
  color: yellow;
  text-align: left;
}

h2 {
  color: yellow;
  text-align: left;
}

p {
  font-family: Georgia, serif;
}


ul {
  font-size: 20px;
  line-height: 30px;
}

img {
  width: 200px;
  height: 300px;
}
